# Dependencies
node_modules/
pnpm-lock.yaml

# Build outputs
dist/
build/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test / coverage
coverage/
node_modules/
node_modules/
